:root {

  --color-main: #0f0f0f;
  --color-base: #f0f5f0;
  --color-base-dark: #e7f2e7;
  --color-base-light: #f3f8f0;

  --color-margin: #d28cbd;
  --color-border: #373737;
  --color-padding: #7ab9d2;
  --color-content: #ffffff;

}
